#name: 02 - CD: Deployment to Prototype

on:
  workflow_dispatch:
  push:
    branches:
      - dev-2

jobs:
  deploy:
    name: Deploy App
    # CILJANJE SELF-HOSTED RUNNERA:
    runs-on: self-hosted # Korištenje generičkih oznaka je sigurnije ? a gdje to piše? :)

    environment: Prototype
   # permissions:
    #  contents: read
     # packages: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Lowercase Repo Name # ne treba u slucaju da je username ima lowercase . 
        id: lowercase
        shell: powershell
        run: |
          $repo = "${{ github.repository }}".ToLower()
          echo "repo=$repo" >> $env:GITHUB_OUTPUT
          
      - name: Log into Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy via Docker Compose
        env:
          GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          IMAGE_TAG: v1.0
          REPO_LOWER: ${{ steps.lowercase.outputs.repo }}
          PROD_DB_USER: ${{ secrets.PROD_DB_USER }}
          PROD_DB_PASSWORD: ${{ secrets.PROD_DB_PASSWORD }}
          PROD_DB_NAME: ${{ secrets.PROD_DB_NAME }}

        # CIJELI BLOK IZVRŠAVAMO KAO ROOT (ADMINISTRATOR) KAKO BISMO ZAOBIŠLI 'Permission Denied'
        run: |
            $env:DB_USERNAME = "${{ env.PROD_DB_USER }}"
            $env:DB_PASSWORD = "${{ env.PROD_DB_PASSWORD }}"
            $env:DB_NAME = "${{ env.PROD_DB_NAME }}"
            $env:REPO_LOWER = "${{ env.REPO_LOWER }}"
            $env:IMAGE_TAG = "${{ env.IMAGE_TAG }}"
          
            # Povlačenje i deployment
            echo "Povlačenje novih slika..."
            docker compose pull
            echo "Pokretanje deploymenta s Docker Compose..."
            docker compose up -d --force-recreate
          
            echo "Deployment dovršen."
          
