#name: 02 - CD: Deployment to Prototype

on:
  workflow_dispatch:
  push:
    branches:
      - dev-2

jobs:
  deploy:
    name: Deploy App
    # CILJANJE SELF-HOSTED RUNNERA:
    runs-on: self-hosted # Korištenje generičkih oznaka je sigurnije ? a gdje to piše? :)

    environment: Prototype
    permissions:
      contents: read
      packages: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Lowercase Repo Name # ne treba u slucaju da je username ima lowercase . 
        id: lowercase
        shell: powershell
        run: |
          $repo = "${{ github.repository }}".ToLower()
          echo "repo=$repo" >> $env:GITHUB_OUTPUT

      - name: Deploy via Podman Compose
        env:
          GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          IMAGE_TAG: latest
          REPO_PATH: ${{ steps.lowercase.outputs.repo }}
          PROD_DB_USER: ${{ secrets.PROD_DB_USER }}
          PROD_DB_PASSWORD: ${{ secrets.PROD_DB_PASSWORD }}
          PROD_DB_NAME: ${{ secrets.PROD_DB_NAME }}

        # CIJELI BLOK IZVRŠAVAMO KAO ROOT (ADMINISTRATOR) KAKO BISMO ZAOBIŠLI 'Permission Denied'
        run: |
            # Prijava na GHCR
            echo "${{ env.GHCR_TOKEN }}" | podman login ghcr.io -u ${{ github.actor }} --password-stdin
          
            # EXPORT TAJNIH VARIJABLI
            export DB_USERNAME=${{ env.PROD_DB_USER }}
            export DB_PASSWORD=${{ env.PROD_DB_PASSWORD }}
            export DB_NAME=${{ env.PROD_DB_NAME }}
          
            # Ažuriranje image tagova
            $content = Get-Content docker-compose.yml
            $content = $content -replace 'backend:.*', "ghcr.io/${{ env.REPO_PATH }}/backend:${{ env.IMAGE_TAG }}"
            $content = $content -replace 'frontend:.*', "ghcr.io/${{ env.REPO_PATH }}/frontend:${{ env.IMAGE_TAG }}"
            $content | Set-Content docker-compose.yml
          
            # Povlačenje i deployment
            echo "Povlačenje novih slika..."
            podman compose pull
            echo "Pokretanje deploymenta s Podman Compose..."
            podman compose up -d --force-recreate
          
            echo "Deployment dovršen."
          '
