#name: 02 - CD: Deployment to Prototype

on:
  workflow_dispatch:
  push:
    branches:
      - develop
      - main

jobs:
  deploy:
    name: Deploy App
    runs-on: ubuntu-latest

    environment: Prototype
    permissions:
      contents: read
      packages: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure SSH
        # Koristi SSH_PRIVATE_KEY Secret
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy via SSH and Podman Compose
        env:
          GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          IMAGE_TAG: ${{ github.sha }}
          # PROD TAJNE VRIJEDNOSTI IZ GITHUB SECRETS-a
          PROD_DB_USER: ${{ secrets.PROD_DB_USER }}
          PROD_DB_PASSWORD: ${{ secrets.PROD_DB_PASSWORD }}
          PROD_DB_NAME: ${{ secrets.PROD_DB_NAME }}

        run: |
          echo "Povezivanje na ${{ secrets.SSH_HOST }}..."
          
          # SSH Login i izvršavanje naredbi na udaljenom serveru
          # Potrebno je imati 'docker-compose.yml' na serveru u /home/$USER/logistics-app/
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
          
            # Prijava na GHCR
            echo ${{ env.GHCR_TOKEN }} | podman login ghcr.io -u $USER --password-stdin
          
            cd /home/$USER/logistics-app/ 
          
            # EXPORT TAJNIH VARIJABLI
            export DB_USER=${{ env.PROD_DB_USER }}
            export DB_PASSWORD=${{ env.PROD_DB_PASSWORD }}
            export DB_NAME=${{ env.PROD_DB_NAME }}
          
            # Ažuriranje image tagova u docker-compose.yml (zamjenjuje :latest sa SHA)
            sed -i "s|backend:.*|backend:${{ env.IMAGE_TAG }}|g" docker-compose.yml
            sed -i "s|frontend:.*|frontend:${{ env.IMAGE_TAG }}|g" docker-compose.yml
          
            # Povlačenje i deployment
            echo "Povlačenje novih slika..."
            podman compose pull
            echo "Pokretanje deploymenta s Podman Compose..."
            podman compose up -d --force-recreate
          
            echo "Deployment dovršen."
          EOF